* {
    font-family: 'Roboto';
}
.banner {
    z-index: 0;
    display: flex;
    width: 100%;
}
.banner img {
    width: 100%;
    height: 100%;
}
.header {
    width: 100%;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: relative;
    z-index: 1;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 100px;
}
.logo .name {
    height: 100%;
    display: flex;
    justify-content: center;
    color: #1b4ca0;
    flex-direction: column;
}
.logo .name .name-university {
    font-weight: bold;
    font-size: 28px;
}
.logo .name .university {
    margin-top: -10px;
    display: flex;
    justify-content: center;
}
.main-menu {
    width: 60%;
    display: flex;
}
.main-menu a {
    transition: all 1s ease-in-out;
    color:#ffffff;
    position: relative;
    display:flex;
    padding:10px 20px;
    width: 18%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px;
}
.main-menu a:first-child {
    width : 28%;
}
.main-menu a:after {
    border-left: 3px solid #434343;
    transition: all 1s ease-in-out;
    background: #a1a0a0;
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;
    transform: skew(-25deg);
    z-index: -1;
}
.main-menu a:first-child:after {
    border-left: none;
}
.main-menu a:hover {
    padding-left: 15px;
}
.main-menu a:hover:after {
    background: #b80000;
    border-left: 3px solid #b80000;
}
.main-menu .small-text {
    font-size: 13px;
}
.line {
    width: 20%;
    height: 4px;
    background-color: #b80000;
    position: absolute;
}
.line1 {
    top: -4px;
    left: 26%;
}
.line2 {
    top: 70px;
    right: 400px;
    background-color: #d90000;
}
.parallelogram {
    width: 100px;
    height: 30px;
    background: #000;
    transform: skew(-30deg);
    opacity: 0.2;
}
.parallelogram1 {
    position: absolute;
    left: 17%;
    top: -15px;
}
.parallelogram2{
    top: 53px;
    position: absolute;
    right: 19%;
}
.header .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.header .title .title1 {
    font-size: 34px;
    color: #303ab2;
}
.header .title .title2 {
    font-size: 60px;
    font-weight: bold;
    color: #c91a27;
}
.header-container .btn-next {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    position: absolute;
    left: 5%;
    top: 200px;
    cursor: pointer;
}
.header-container .btn-next i {
    color: #fff;
    transform: skew(30deg);
}
.header-container .btn-next:hover {
    background-color: #b80000;
}
.header-container .btn-right {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    position: absolute;
    transform: skew(30deg);
    right: 5%;
    top: 200px;
    cursor: pointer;
}
.header-container .btn-right i {
    color: #fff;
    transform: skew(-30deg);
}
.header-container .btn-right:hover {
    background-color: #b80000;
}
.wrap-header {
    position: absolute;
    width: 100%;
}

.content, .content-education{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content-container {
    margin-top: 50px;
    display: flex;
    width: 60%;
    justify-content: center;
}
.content-container span {
    margin-left: 10px;
    font-weight: bold;
}
.content .title {
    color: #d90000;
    font-size: 32px;
}
.content .text-content {
    text-align: justify;
    margin-top: 30px;
}
.content .end-content {
    display: flex;
    width: 150px;
    margin-top: 50px;
    justify-content: space-between;
}
.content .end-content .dot {
    width: 15px;
    height: 7px;
    background-color: #d90000;
    opacity: unset;
}
.content .end-content .line-end-content {
    width: 100px;
    height: 7px;
    background-color: #d90000;
    opacity: unset;
}
.content-education .title{
    color: #b80000;
    margin-top: 50px;
}
.content-education .line {
    position: inherit;
    background-color: #c5c5c5;
    height: 2px;
    width: 35%;
    margin-top: 40px;
}
.item-education {
    width: 60%;
    margin-top:50px; 
}
.item-education .item {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}
.item-education .item .img-about-us {
    width: 50%;
}
.item-education .item .img-about-us img {
    width: 100%;
}
.item-education .item .detail {
    width: 50%;
}
.item-education .item .title {
    position: relative;
    z-index: 1;
    width: 300px;
    color: #fff;
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 6px;
    font-size: 18px;
    left: -10%;
    margin-top: 25px;
}
.item-education .item .title:after {
    background: #d90000;
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;
    transform: skew(-25deg);
    z-index: -1;
}
.item-education .item .content{
    margin: 22px;
    font-size: 15px;
    text-align: justify;
}
.item-education .item-right .title {
    left: 42%;
}
.about-education {
    display: flex;
    justify-content: center;
}
.about-education .wrap-about-education {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 50px;
}
.about-education ul li {
    width: 19%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
}
.about-education ul li a {
    font-size: 14px;
    color: #303ab2;
    padding: 10px 0px;
    text-align: center;
}
.about-education ul li:hover a {
    color: #b80000;
    text-decoration: none;
}
.about-education ul li .active {
    color: #b80000;
}

.about-education .nav {
    position: relative;
    padding: 0px;
}
.about-education ul.nav:after {
    border: 1px solid #303ab2;
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;
    transform: skew(-25deg);
    z-index: -1;
}
.about-education .line {
    width: 74%;
    height: 8px;
    background-color: #b80000;
    position: relative;
    margin-left: 10%;
}

.about-education .tab-content .item {
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.about-education .tab-content .item .img-about-us {
    width: 30%;
}
.about-education .tab-content .item .img-about-us img {
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 0% 600%, 0% 0%);
}
.about-education .tab-content .item .detail {
    width: 60%;
}
.about-education .tab-content .item .detail .title {
    font-size: 18px;
    font-weight: bold;
    color: #d90000;
    padding: 10px;
    position: relative;
    left: -50px;
}
.about-education .tab-content .item .content {
    padding-left: 30px;
}
.about-education .tab-content .line {
    width: 100%;
    height: 3px;
    margin: 0px;
    background-color: #d90000;
}
.student {
    display: flex;
    justify-content: center;
}
.wrap-student {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
}
.wrap-student .title {
    color: #d90000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
}
.wrap-student .title b {
    margin-right: 5px;
}
.wrap-student .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: inherit !important;
}
.wrap-student .image-student,.wrap-student .image-student img  {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap-student .image-student img {
    margin: 0px;
}
.wrap-student .content {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.wrap-student .quote {
    position: absolute;
    z-index: -1;
    color: #eee;
    left: 28%;
    top: 0;
}
.wrap-student .quote i {
    font-size: 80px;
}
.wrap-student .content .infor-student {
    color: #d90000;
}
.wrap-student .line {
    position: inherit;
    width: 60%;
    height: 3px;
}
.detail-education {
    display: flex;
    justify-content: center;
}
.wrap-detail-education {
    width: 80%;
    margin-top: 50px;
}
.wrap-detail-education .nav li{
    width: 12.5%;
    text-align: center;
}
.wrap-detail-education .nav{
    padding: 0px 2%;
}
.wrap-detail-education .nav li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.wrap-detail-education .nav li .line{
    position: inherit;
    width: unset;
    height: 0px;
}

.wrap-detail-education .nav li:hover a{
    color: #c91a27;
}
.wrap-detail-education .nav li:hover .line{
    height: 2px;
}
.wrap-detail-education .nav .active{
    color: #c91a27;
}
.wrap-detail-education .nav .active~.line{
    height: 2px;
}
.wrap-detail-education .tab-content{
    margin-top: 70px;
}
.wrap-detail-education .tab-content .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #c91a27;
}
.wrap-detail-education .tab-content .item .image-content{
    width: 60%;
    position: relative;
    top: -50px;
}
.wrap-detail-education .tab-content .item .image-content img{
    width: 100%;
    height: 100%;
}
.wrap-detail-education .tab-content .item .content {
    width: 60%;
    position: relative;
    top: -20px;
    color: #c91a27;
}
.wrap-detail-education .tab-content .item .extra-content {
    width: 60%;
    padding: 10px 25px;
    border-left: 3px solid #d90000;
    margin-bottom: 30px;
}
.wrap-detail-education .tab-content .item .extra-content ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    font-size: 14px;
    color: #1b4ca0;
}
.wrap-register {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.wrap-register .title {
    width: 70%;
    font-size: 28px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
}
.wrap-register .end-content {
    margin-top: 20px;
}
.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 50px;
}
.form-register .col-md-12 {
    margin-top: 20px;
    flex: auto !important;
}
.form-register input ,.form-register select{
    width: 100%;
    border: 1px solid #d90000;
    height: 35px;
    color: #303ab2;
}
.form-register input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #1b4ca0;
    padding-left: 10px;
}
.form-register input::-moz-input-placeholder { /* Firefox 19+ */
    color: #1b4ca0;
    padding-left: 10px;
}
.form-register input:-moz-input-placeholder { /* Firefox 18- */
    color: #1b4ca0;
    padding-left: 10px;
}
.btn-submit {
    position: relative;
    z-index: 1;
    width: 200px;
    color: #fff;
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 6px;
    font-size: 18px;
    margin-top: 25px;
    border: none;
    background-color: transparent;
}
.btn-submit:after {
    background: #d90000;
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;
    transform: skew(-25deg);
    z-index: -1;
}
.button-register {
    display: flex;
}
.button-register .btn-s {
    width: 40px;
    margin-left: 10px;
}
.button-register .btn-s:after {
    transform: skew(-20deg);
}
.phone-support{
    width: 220px;
    display: flex;
    position: fixed;
    top: 89%;
    left: 100px;
    animation: jump 1.5s ease 0s infinite normal ;
}  
@keyframes jump {
    0%{
      transform: translateY(0);
    }
    20%{
      transform: translateY(0);
    }
    40%{
      transform: translateY(-30px);
    }
    50%{
      transform: translateY(0);
    }
    60%{
      transform: translateY(-15px);
    }
    80%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(0);
    }
  }
.phone-support img {
    width: 100%;
}
.sign-up {
    display: flex;
    width: 220px;
    background-color: #ededed;
    padding: 15px 0px;
    color: #b80000;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    position: fixed;
    justify-content: center;
    align-items: center;
    right: 100px;
    top: 80%;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    z-index: 9;
    animation: jump 1.5s ease 0s infinite normal ;
}
.footer .main {
    color: #fff;
    background-color: #a1a0a0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}
.footer .title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin: 30px 0px;
}
.footer .content {
    width: 80%;
    flex-direction: row;
    font-size: 14px;
    align-items: unset;
}
.footer .content ul {
    list-style-type: none;
}
.footer .content li {
    display: flex;
    align-items: center;
}
.footer .content li .room {
    width: 40%;
}
.footer .content .address ul {
    padding: 0px;
}
.footer .content li .phone-room {
    width: 60%;
    font-size: 22px;
}
.footer .content li .headquarter {
    width: 15%;
}
.footer .content li .headquarter-address {
    width: 85%;
}

.footer .content .phone {
    width: 40%;
}
.footer .content .address {
    width: 55%;
    margin-left: 5%;
}
.footer .parallelogram-footer {
    height: 8px;
    background-color: #d90000;
    opacity: unset;
    width: 60%;
    transform: skew(30deg);
    margin-left: 20%;
}
.footer .parallelogram-footer2 {
    transform: skew(-30deg);
}

.footer .parallelogram-up {
    position: relative;
    z-index: 1;
    width: 18%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    font-size: 18px;
    height: 50px;
    left: 41%;
    top: -25px;
    cursor: pointer;
}
.footer .parallelogram-up:after {
    background: #d90000;
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;
    transform: skew(-25deg);
    z-index: -1;
}
.share {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.share ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    width: 40%;
    justify-content: center;
}
.share a {
    position: relative;
    z-index: 1;
    width: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    font-size: 18px;
    height: 40px;
    margin: 0px 12px;
    text-decoration: none;
}
.share a:after {
    background: #303ab2;
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;
    transform: skew(-25deg);
    z-index: -1;
}
.share .name {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 5px;
}
.share li:hover a:after {
   background: #b80000;
}
.share li:hover .name {
    color: #b80000
}

.notify {
    color: #1b4ca0;
    padding-top: 20px;
}
  

@media only screen and (max-width: 1200px) {
    .header-container .btn-next, .header-container .btn-right {
        display: none;
    }
    .header .title {
        margin-top: 30px;
    }
    .header .title .title1 {
        font-size: 30px;
    }
    .header .title .title2 {
        font-size: 32px;
    }
    .main-menu {
        width: 80%;
    }
    .line1 {
        left: 18%;
    }
    .parallelogram1 {
        left: 6%;
    }
    .line2 {
        right: 22%;
    }
    .parallelogram2 {
        right: 9%;
    }
    .content-container {
        width: 80%;
    }
    .item-education {
        width: 80%;
    }
    .about-education .wrap-about-education {
        width: 90%;
    }
    .wrap-student {
        width: 80%;
    }
    .wrap-detail-education .nav li {
        padding: 2px;
    }
    .wrap-detail-education {
        width: 97%;
    }
    .wrap-register {
        width: 80%; 
    }
    .phone-support {
        left: 20px;
        top: 85%;
    }
    .footer .content {
        width: 100%;
    }
    .sign-up {
        right: 20px;
    }
    .margin-md {
        margin-top: 50px;
    }
}


.windows8 {
	position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.windows8 .wBall {
	position: absolute;
	width: 74px;
	height: 74px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 6.96s infinite;
		-o-animation: orbit 6.96s infinite;
		-ms-animation: orbit 6.96s infinite;
		-webkit-animation: orbit 6.96s infinite;
		-moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 10px;
	height: 10px;
	background: rgb(0,0,0);
	left:0px;
	top:0px;
	border-radius: 10px;
}

.windows8 #wBall_1 {
	animation-delay: 1.52s;
		-o-animation-delay: 1.52s;
		-ms-animation-delay: 1.52s;
		-webkit-animation-delay: 1.52s;
		-moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
	animation-delay: 0.3s;
		-o-animation-delay: 0.3s;
		-ms-animation-delay: 0.3s;
		-webkit-animation-delay: 0.3s;
		-moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
	animation-delay: 0.61s;
		-o-animation-delay: 0.61s;
		-ms-animation-delay: 0.61s;
		-webkit-animation-delay: 0.61s;
		-moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
	animation-delay: 0.91s;
		-o-animation-delay: 0.91s;
		-ms-animation-delay: 0.91s;
		-webkit-animation-delay: 0.91s;
		-moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
	animation-delay: 1.22s;
		-o-animation-delay: 1.22s;
		-ms-animation-delay: 1.22s;
		-webkit-animation-delay: 1.22s;
		-moz-animation-delay: 1.22s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}